.inputContainer {
    margin: 5px;
    padding: 5px;
}


.input {
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.5rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}